*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --text-color: #fff;
    --text-size: 2rem;
}
body{
    overflow-y: hidden;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.conteiner{
    width: 800px;
    height: 600px;
    display: flex;
    flex-flow:row nowrap;
    overflow: hidden;
    margin-top: 5vh;
    background-color: rgb(0, 0, 0);
    color: var(--text-color);
}
.stage::-webkit-scrollbar{
    visibility: hidden;
}
.stage-bar{
    width: 5%;
    margin-right: 1%;
    background-color: wheat;
}
.street{
    position: relative;
    width: 40%;
    height: 100%;
    background-color: rgb(48, 48, 48);
}
.street-line-conteiner{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    top: -100%;
    width: 100%;
    height: 300%;
}
.street-line-movement{
    animation: street_line .7s linear .5s infinite normal backwards;
}
.street-line{
    position: relative;
    background: #fff;
    height: 5%;
    width: 10px;
    margin-top: 100px;
}
.car{
    transition: .3s linear;
    position: absolute;
    top:80%;
    left:40%;
    height: 70px;
    width: 45px;
    z-index: 1000;
}
.car >img{
    position: inherit;
    height: 100%;
    width: 100%;
}
.mouse-img{
    position: absolute;
    width: 300px;
    height: auto;
    left:700px;
}
.click-derecho{
    opacity: 0;
    position: absolute;
    width: 210px;
    height: auto;
    left:720px;
}
.scroll-button{
    opacity: 70%;
    position: absolute;
    width: 210px;
    height: auto;
    left:680px;
    scale: 0.3;
    top: 640px;
}
.click-izquierdo{
    opacity: 0;
    position: absolute;
    width: 210px;
    height: auto;
    left:700px;
    top: 700px;
}
.entorno{
    position: relative;
    margin: 0 10px;
    width: 20%;
    height: 100%;
    background: wheat;
}
.data{
    width: auto;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    font-size: 35px;
}
.speed-contenedor{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    scale: 1.3;
}
.speed-img{
    position: absolute;
    height: 100px;
    left: 30px;
    filter: grayscale(.8);
}
.speed-aguja{
    position: absolute;
    top: 38%;
    left: 76%;
    transform-origin: bottom;
    transform: rotateZ(0deg);
    transition: .7s ease-in-out;
    z-index: 100;
}
 @keyframes street_line{
    0%{
    }
    100%{
        transform: translatey(20%);
    }
 }